<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Look&Book</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:replace="fragments/header :: header"></nav>
    <div class="container">
		<div class="container">
			<h1>Book Details</h1>
			<hr/>
			<div class="media">
				<div class="media-body">
    			<h5 class="mt-0 mb-1" th:="${artwork.title}"></h5>
    			<p>Written by <span th:text="${artwork.author}"></span></p>
				<br/>
				<b>Description</b><br/>
				<p th:text="${artwork.description}"></p>
  				</div>
			</div>
			<div class="float-right">
				<form th:action="@{'/artwork/update/' + ${artwork.id}}" th:method="post" >
					  <button class="btn" type="submit" id="submitButton">Make visible</button>
				</form>
				<form th:action="@{'/artwork/delete/' + ${artwork.id}}" th:method="post" >
					  <button class="btn btn-danger" type="submit" id="submitButton">delete</button>
				</form>
			</div>
		</div>
		<hr/>
		<div class="container">
		<h5>Points of views</h5>
		<ul class="list-unstyled">
	  		<li class="media" th:each="comment: ${comments}">
	    		<div class="media-body">
	    		<h6 class="mt-0 mb-1" >Someone's view: </h6>
				<p class="text-center" th:text="${comment.content}"></p>
	    		</div>
	    		<form class="ml-3" action="#" th:action="@{'/comment/delete/' + ${comment.id}}" th:method="post" >
					<button class="btn btn-danger" type="submit" id="submitButton">delete</button>
				</form>
	  		</li>
		</ul>
		<form action="#" th:action="@{'/comment/insert/'+ ${artwork.id}}" th:object="${newComment}" method="post">
	    	<label for="inputCom">Comment:</label>
	    	<textarea rows="3" id="inputCom" th:field="*{content}"></textarea>
	    	<input type="hidden" th:value="${artwork.id}" name="artwork" >
	    	
			<p><input class="btn btn-primary" type="submit" value="Submit" /> <input class="btn" type="reset" value="Reset" /></p>
	    </form>
		</div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>