<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Security Tutorial</title>
  	<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:replace="fragments/header :: header"></nav>
 	<div class="container">
    	<p>Get your greeting here</p>
    </div>
    <div class="container">
    	<a href="/category/form">Create a new category!</a>
    </div>
    <div class="container">
    	<a href="/artwork/form">Create a new artwork entry!</a>
    </div>
    <div class="container">
    	<a href="/artworks">Check all artworks</a>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>