<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   	<head>
      	<title>Login</title>
      	<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   	</head>
   	<body>
		<nav th:replace="fragments/header :: header"></nav>		 
		<!-- /login?error=true -->
		<div th:if="${#request.getParameter('error') == 'true'}"style="color:red;margin:10px 0px;">
		   	Login Failed!!!<br />
		   	Reason :
		   	<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
		      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
		          Static summary
		   	</span> 
		</div>
		<div class="container">
			<div class="row justify-content-center align-items-center" style="height:100vh">
            	<div class="col-4">
            		<div class="card">
            			<div class="card-head text-center">
            				<h1 class="text-center">Login</h1>
            			</div>
                    	<div class="card-body">
							<form name='f' th:action="@{/j_spring_security_check}" method='POST'>
								<div class="form-group">
					    			<input class="form-control" type="text" placeholder="Enter Username" name="username" required>
								</div>
								<div class="form-group">
					    			<input class="form-control" type="password" placeholder="Enter Password" name="password" required>
					    			</div>
								<div class="form-group">
									<label>
					      				<input type="checkbox" checked="checked" name="remember-me"> Remember me
					    			</label>
					    		</div>
					    		<div class="form-group">
					    			<button class="btn btn-primary" type="submit">Log in</button>
								</div>
					      	</form>
				      	</div>
			      	</div>
		      	</div>
	      	</div>
		</div>
       
      <br/>
      Username/pass:
      <ul>
        <li>dbuser1/123</li>
        <li>dbadmin1/123</li>
      </ul>  
       
   </body>
    
</html>