<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   	<head>
      	<title>Register</title>
      	<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   	</head>
   	<body>
		<nav th:replace="fragments/header :: header"></nav>	
		<div class="container">
			<div class="row justify-content-center align-items-center" style="height:100vh">
            	<div class="col-4">
            		<div class="card">
            			<div class="card-head text-center">
            				<h1 class="text-center">Register</h1>
            			</div>
                    	<div class="card-body">
							<form name='f'  th:action="@{/registration}" th:object="${userForm}" method="post">
								<div class="form-group">
					    			<input class="form-control" th:classappend="${#fields.hasErrors('username')} ? is-invalid : ''" type="text" placeholder="Enter Username" name="username" autofocus="true" required  th:field="*{username}">
									<div class="invalid-feedback" th:errors="*{username}"></div>
								</div>
								<div class="form-group">
					    			<input class="form-control" th:classappend="${#fields.hasErrors('password')} ? is-invalid : ''" type="password" placeholder="Enter Password" name="password" required  th:field="*{password}">
					    			<div class="invalid-feedback" th:errors="*{password}"></div>
					    		</div>
					    		<div class="form-group">
					    			<input class="form-control" th:classappend="${#fields.hasErrors('passwordConfirm')} ? is-invalid : ''" type="password" placeholder="Confirm your Password" name="confirmPassword" required th:field="*{passwordConfirm}">
					    			<div class="invalid-feedback" th:errors="*{passwordConfirm}"></div>
					    		</div>
					    		<div class="form-group">
					    			<button class="btn btn-primary" type="submit">Register</button>
					    			<input class="btn" type="reset" value="Reset">
								</div>
					      	</form>
				      	</div>
			      	</div>
		      	</div>
	      	</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>