<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" th:href="@{/}">LookABook</a>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      		<li class="nav-item active">
	        		<a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="#">Link</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" th:href="@{/dashboard}">Administration</a>
	      		</li>
	    	</ul>
	    	<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
	    		<li class="nav-item">
			        <a class="nav-link" th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
			        <span  th:if="${#request.userPrincipal != null}">Jean</span>
			    </li>
			    	<li class="nav-item">
			        	<a class="nav-link" th:if="${#request.userPrincipal == null}" th:href="@{/registration}">Register</a>
			    	</li>
			    <li class="nav-item">
			        <a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			    </li>
	    	</ul>
	  	</div>
	</nav>
</body>
</html>