@charset "ISO-8859-1";
/*
Thanks to:
https://bootsnipp.com/snippets/x95Q

Photo:
https://www.freepik.com/free-photos-vectors/school
*/
body{
	background-color: lightblue;
	/* background: url("../images/welcomePic.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; */
}